<!--DropDown select-->
{% load schedule_controler %}
<div class="dropdown">
	<a data-toggle="dropdown">

	{% with staff.staffschedule_set|date_get:cal as staffschedule %}
		<strong>{{ staffschedule.worktime.simbol }}</strong>
	{% endwith %}

	</a>
	<ul class="dropdown-menu">
	{% for worktime in worktimes %}
		<li class="worktime_choices" staff_id="{{ staff.id }}" worktime_id="{{ worktime.id }}"  year="{{ cal.year }}" month="{{ cal.month }}" day="{{ cal.day }}">
			<a tabindex="-1">{{ worktime.simbol }}:{{ worktime }}</a>
		</li>
	{% endfor %}
		<li class="divider"></li>
		<li class="worktime_choices" tabindex="-1" staff_id="{{ staff.id }}" worktime_id="" year="{{ cal.year }}" month="cal.month" day="{{ cal.day }}">
			<a>Reset</a>
		</li>
	</ul>
</div>
