{% extends "schedule/bases/base_a_month.html"  %}

{% block title %} Shift:{{ year }}/{{ month }}-{{ month|add:1 }} {% endblock %}

{% block s_nav_class %}disabled{% endblock %}

{% block t_class %}table-condensed table-hover table-responsive{% endblock %}

{% block t_main %}
<script type="text/javascript" src="{{ STATIC_URL }}js/a_month_shift.js"></script>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/a_month_shift.css">
				
	{% load schedule_controler %}

<thead>
	<tr align="center" class="info">	<!--日付-->
		<th rowspan="2"></th>
	{% for cal in month_cal %}
		<th class="day_{{ cal.day }}">{{ cal.day }}</th>
	{% endfor %}

	<!--{#% for worktime in worktimes %}
		<th rowspan="2">{{ worktime.title }}</th>
	{% endfor %#}-->
	</tr>

	<tr class="info">	<!--曜日-->
	{% for cal in month_cal %}

		<th class="day_{{ cal.day }}">{{ weekdays|index_is:cal.weekday }}</th>

	{% endfor %}
	</tr>
</thead>
<tbody>
	{% for staff in staffs %}
	<tr align="center">
		<th class="info" staff_id="{{ staff.id }}">{{ staff }}</th>	<!--rowspan="2"-->
		{% for cal in month_cal %}
		<td class="day_{{ cal.day }}" id="s{{ staff.id }}d{{ cal.day }}">
			{% include 'schedule/parts/dropdown.html' %}
		</td>
		{% endfor %}

		<!--{#% for worktime in worktimes %}
		<td>-->
			<!--monthscheduleで絞る？-->
		<!--</td>
		{% endfor %#}-->
	</tr>

	<!--tr-->	<!--日直とか-->
		<!--{#% for cal in month_cal %}
		<td></td>
		{% endfor %#}-->
	<!--/tr-->

	{% endfor %}
</tbody>
{% endblock t_main %}

{% block under_table %}
<form action="" method="post">
{% csrf_token %}
	<div class="form-group">
		<input type="submit" class="btn btn-lg btn-primary" value="Complete!">
	</div>
</form>
{% endblock %}
