{% extends 'schedule/base_a_month.html' %}

{% block c_nav_class %}disabled{% endblock %}

{% block t_class %}table-hover{% endblock %}

{% block t_main %}
<thead>
	<tr class="info">
		<th>月</th>
		<th>火</th>
		<th>水</th>
		<th>木</th>
		<th>金</th>
		<th>土</th>
		<th>日</th>
	</tr>
</thead>

<tbody>
	{% for week in month_cal %}
	<tr>
		{% for day in week %}
			<td>
			{% ifnotequal day 0 %}
				<strong>{{ day }}</strong>
				<br/>
			{% endifnotequal %}
			</td>
		{% endfor %}
	</tr>
	{% endfor %}
</tbody>
{% endblock t_main %}
