{% extends "schedule/base_a_month.html"  %}

{% block title %} Shift:{{ year }}-{{ month }} {% endblock %}

{% block s_nav_class %}disabled{% endblock %}

{% block t_class %}table-condensed table-hover table-responsive{% endblock %}

{% block t_main %}
<script type="text/javascript" src="{{ STATIC_URL }}js/a_month_shift.js"></script>

<thead>
	<tr class="info">	<!--日付-->
		<th></th>
	{% for cal in month_cal %}
		{% ifequal cal|date:"n" month %}
		<th class="day_{{ cal.day }}">{{ cal.day }}</th>
		{% endifequal %}
	{% endfor %}
	</tr>

	<tr class="info">	<!--曜日-->
		<th></th>
	{% for cal in month_cal %}
		{% ifequal cal|date:"n" month %}

			{% ifequal cal.weekday 0 %}
		<th class="day_{{ cal.day }}">月</th>
			{% endifequal %}{% ifequal cal.weekday 1 %}
		<th class="day_{{ cal.day }}">火</th>
			{% endifequal %}{% ifequal cal.weekday 2 %}
		<th class="day_{{ cal.day }}">水</th>
			{% endifequal %}{% ifequal cal.weekday 3 %}
		<th class="day_{{ cal.day }}">木</th>
			{% endifequal %}{% ifequal cal.weekday 4 %}
		<th class="day_{{ cal.day }}">金</th>
			{% endifequal %}{% ifequal cal.weekday 5 %}
		<th class="day_{{ cal.day }}">土</th>
			{% endifequal %}{% ifequal cal.weekday 6 %}
		<th class="day_{{ cal.day }}">日</th>
			{% endifequal %}

		{% endifequal %}
	{% endfor %}
	</tr>
</thead>
<tbody>
	{% for staff in staffs %}
	<tr>
		<th class="warning" staff_id="{{ staff.id }}">{{ staff }}</th>
		{% for cal in month_cal %}
			{% ifequal cal|date:"n" month %}
		<td class="day_{{ cal.day }}" id="s{{ staff.id }}d{{ cal.day }}">
			<!--DropDown select-->
			<div class="dropdown">
				<a data-toggle="dropdown">

				{% load schedule_controler %}
				{% with staffschedules|staff_is:staff as myschedules %}
					{% with myschedules|date_is:cal as myshift %}
						{{ myshift.shift.id }}
					{% endwith %}
				{% endwith %}

				</a>
				<ul class="dropdown-menu" id="s{{ staff.id }}d{{ cal.day }}_mn"><div class="container">
				<!--RadioChoice-->
				<form action="" method="post" class="t_form" id="s{{ staff.id }}d{{ cal.day }}_fm">
				{% csrf_token %}
					<input type="hidden" name="day" value="{{ cal.day }}">
					<input type="hidden" name="staff" value="{{ staff.id }}">

				{% for worktime in worktimes %}
					<li>
						<div class="form-group">
							<div class="radio"><label>
								<input type="radio" name="shift" value="{{ worktime.id }}" class="rd" staff_id="{{ staff.id }}" day="{{ cal.day }}">{{ worktime.id }}.{{ worktime }}
							</label></div>
						</div>
					</li>
				{% endfor %}
					<li><div class="form-group">
						<input type="reset">
					</div></li>
				</form>
				</div></ul>
			</div>

		</td>
			{% endifequal %}
		{% endfor %}
	</tr>
	{% endfor %}
</tbody>
{% endblock t_main %}
