<form action="" method="post" class="t_form" id="{% block fm_id %}{% endblock %}">
{% csrf_token %}

	<input type="hidden" name="day" value="{% block day_dt %}{% endblock %}">
	<input type="hidden" name="staff" value="{% block staff_dt %}{% endblock %}">

{% for worktime in worktimes %}
	<div class="form-group">
		<div class="radio"><label>
			<input type="radio" name="s{{staff.id}}d{{day.0}}_dt" value="{{ worktime.id }}" class="rd" day="{{ day.0 }}" staff_id="{{ staff.id }}">{{ worktime.id }}.{{ worktime }}
		</label></div>
	</div>
{% endfor %}
	<div class="form-group">
		<input type="reset">
	</div>
	<div class="form-group">
		<input type="submit">
	</div>
</form>
