<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>{% block title %}Shift-Maker{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">
		<script src="{{ STATIC_URL }}js/jquery-1.11.0.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	</head>

	<body><div class="container">
	{% block main %}
	{% endblock %}
	</div></body>
</html>
